.loginForm {
    margin-bottom: 20px;
}

.password {
    margin-left: 8px;
    margin-right: 6px;
}

.email {
    margin-left: 38px;
    margin-bottom: 4px;
}

.userName {
    margin-left: 8px;
    margin-bottom: 4px;
}